.page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr) minmax(14rem, 2fr)) minmax(8rem, 1fr);
  grid-template-rows: masonry; 
  gap: 1rem;
}

.card {
  position: relative;
  counter-increment: item-counter;
}

.catPic {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1ch;
}